<div class="row">
  <aside class="offset-sm-1 col-sm-4 pt-5">
    <%= form_with(model: @message, local: true) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>
  <div class="col-sm-7">
    <%= render 'messages/messages', messages: @messages %>
  </div>
</div>
